*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

